[submodule ".vim/pack/tpope/start"]
	path = .vim/pack/tpope/start
	url = https://tpope.io/vim/sleuth.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule ".dotfiles/opt/git-filter-repo"]
	path = .dotfiles/opt/git-filter-repo
	url = https://github.com/newren/git-filter-repo.git
[submodule ".config/awesome/awesome-wm-widgets"]
	path = .config/awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
[submodule ".config/awesome/net_widgets"]
	path = .config/awesome/net_widgets
	url = https://github.com/pltanton/net_widgets.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "iTerm2-Color-Schemes"]
	path = iTerm2-Color-Schemes
	url = https://github.com/mbadolato/iTerm2-Color-Schemes.git
