# This is Git's per-user configuration file.
[alias]
	pf = push --force-with-lease
	p = push
	pu = !git push -u origin $(git branch --show-current)
	s = switch
	sc = switch -c
	st = status
	co = checkout
	c = commit
	m = merge
	mr = merge --rebase
	f = fetch
	fa = fetch --all

	prune-remote = !git branch -vv | grep ': gone]'|  grep -v '*' | awk '{ print $1; }' | grep . | xargs git branch -D

	wip = !wipstamp=$(date +"%Y%m%d-%H%M%S") && git add . && git sc "WIP-$wipstamp" && git commit --allow-empty -m "WIP-$wipstamp" && git pushnew

	# history graph
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short

	# List commits in short form, with colors and branch/tag annotations
	lsc = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate

	# List commits showing changed files
	lsf = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat

	# List oneline commits showing dates
	lsd = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short

	# list branches sorted by last modified
	lsb = !git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'

	# squash everything into a single, initial commit
	fresh-start = "!f(){ git reset $(git commit-tree HEAD^{tree} -m \"${1:-A new start}\");};f"

[diff]
	# better diffing around brackets and indents
	algorithm = histogram

[core]
	editor = vim
	excludesfile = ~/.gitignore

[color]
	ui = auto

[init]
	defaultBranch = main

[column]
	ui = auto

[pull]
	rebase = false

[user]
	email = keywordsalad@thisfieldwas.green
	name = Logan McGrath
	useConfigOnly = true
[credential]
	helper = cache
[credential "https://bitsof.thisfieldwas.green"]
	username = keywordsalad
