#define FONT_SIZE 12
#define FONT_DPI 144

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! X Font
Xft.dpi: FONT_DPI
Xft.autohint: true
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: true
Xft.antialias: true
Xft.rgba: rbga

#include ".Xresources.d/AdventureTime.Xresources"

